.hero {
  margin-top: 20px;
}

.hero__box {
  display: flex;
}

.main-full-screen {
  .hero__left {
    width: 100%;
    padding-top: 30px;

    .hero-img__box {
      width: 100%;
      height: 70vh;
      .hero-img__result-box {
        margin-left: auto;
        margin-right: auto;
        width: 770px;
        height: 70vh;
        img {
          width: 120%;
          height: 70vh;
        }
      }
    }
    .hero-img__slider {
      width: 700px;
      height: 700px;
      margin-left: auto;
      margin-right: auto;
    }

    .hero-img__choose {
      margin-top: 50px;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      z-index: 99;
    }
  }

  .hero-img__fullscreen-btn {
    top: auto;
    bottom: 0;
    right: 0;
  }

  .hero__right {
    display: none;
  }
}